:root {
    --primary-bg-color : #1E211C;
    --primary-tx-color : #fff;
    --secondary-bg-color : #33382e;
    --secondary-tx-color : #69C6DD;
    --span-tx-color : #f9004d;
    --third-tx-color : #b668b1;
}