  <!--Footer-->

  <footer>
    <p>Juan Carlos Ochoa</p>
    <p>Si deseas chequear mis redes sociales.</p>
    <div class="social">
      <a href="https://www.linkedin.com/in/juan-carlos-ochoa-7b80491a5/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://www.instagram.com/j.c_8ag/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://www.youtube.com/@JuanCarlosOchoaGuzman" target="_blank"><i class="fa-brands fa-youtube"></i></a>
    </div>
    <p class="end">CopyRight By Juan Carlos Ochoa</p>
  </footer>